<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="throwException()">Test</ion-button>
  <ion-button (click)="fetchButFail()">fetch</ion-button>
  <ion-button (click)="malform()">Malform</ion-button>
  <ion-button (click)="syntaxError()">Syntax</ion-button>
  <ion-button (click)="rangeError()">Range</ion-button>
</ion-content>
